@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* COULEURS DE POLICE HEADER ET FOOTER*/
/* couleurs de fond*/
/*couleur de police*/
/*Police de caractère- footer et bouton-page accueil*/
/* la chic à la française*/
/* police titre*/
/* police corps du site*/
/*délice des papilles et la note enchanté*/
/**/
/*dégradé violet*/
/*dégradé blue*/
/*dégradé vert*/
/*dégradé orangé*/
/* disposition des éléments du footer*/
/* Page menu note enchantée*/
/*sm-containers des plats et prix*/
/* taille correspond au titre de séparation*/
/*propriété de la carte unique contenu le menu*/
/* Titre en haut des cartes sur chaque menu*/
/* line 240, ../sass/partials/utils/_mixins.scss */
h2 {
  text-align: center;
}

/* line 244, ../sass/partials/utils/_mixins.scss */
h1 {
  text-align: center;
}

/* line 1, ../sass/partials/layout/_header.scss */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #579C87;
  color: #FDC846;
  height: 50px;
  padding: 20px;
  font-size: 50px;
  font-family: 'Archivo Black', sans-serif;
}
/* line 7, ../sass/partials/layout/_header.scss */
header h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  color: #FDC846;
  font-family: 'Archivo Black', sans-serif;
}
/* line 18, ../sass/partials/layout/_header.scss */
header h2 {
  justify-content: center;
}

/* LES DELICES ce nest pas dans le HEADER*/
/* line 27, ../sass/partials/layout/_header.scss */
h2 {
  margin: 30px;
  font-weight: bold;
}

/* line 1, ../sass/partials/layout/_footer.scss */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #579C87;
  color: #FDC846;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding-top: 0;
  font-family: "Roboto", sans-serif;
}

/* line 9, ../sass/partials/layout/_footer.scss */
.legales {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  padding-top: 0;
  /*Effet wiggle*/
}
/* line 91, ../sass/partials/utils/_mixins.scss */
.legales a {
  color: #FDC846;
  width: 150px;
  height: auto;
  margin-top: 20px;
  font-weight: bold;
}
/* line 103, ../sass/partials/utils/_mixins.scss */
.legales a:hover {
  text-decoration: none;
  animation: shake 0.6s infinite;
}
/* line 108, ../sass/partials/utils/_mixins.scss */
.legales .mail {
  color: #FDC846;
  width: 150px;
  height: auto;
}
/* line 115, ../sass/partials/utils/_mixins.scss */
.legales .mail {
  font-family: arial;
}
/* line 121, ../sass/partials/utils/_mixins.scss */
.legales .mail:hover {
  animation: shake 0.6s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  75% {
    transform: translate(2px, -1px) rotate(2deg);
  }
  100% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
}
/*Page Mentions légales*/
/* line 20, ../sass/partials/layout/_footer.scss */
.ml {
  width: 700px;
  height: auto;
  margin: 1em;
  padding: 2em;
  background-color: #FCDFD8;
  box-shadow: 5px 5px 1em lightgrey;
  background-color: #BDBDBD;
  color: white;
  font-weight: bold;
  justify-content: center;
  font-family: arial;
}

/* 1- PAGE ACCUEIL*/
/* 2- LA NOTE ENCHANTEE*/
/* 3- LE CHIC A LA FRANCAISE*/
/* 4- LE DELICE DES PAPILLES*/
/* 5- LA PALETTE DU GOUT*/
/* Elements généraux==================*/
/* Header - footer- bouton*/
/* line 13, ../sass/partials/base/_color.scss */
header, footer, .bouton {
  background-color: #579C87;
  color: #FDC846;
}

/* 1- PAGE ACCUEIL*/
/* Partie MAIN========================*/
/* line 24, ../sass/partials/base/_color.scss */
.card--pink {
  background-color: #ffccb3;
}

/* line 29, ../sass/partials/base/_color.scss */
.card--violet {
  background-color: #ffe6ff;
}

/* line 33, ../sass/partials/base/_color.scss */
.card--lightgrey {
  background-color: #e6e6e6;
}

/* line 37, ../sass/partials/base/_color.scss */
.card--white {
  background-color: white;
}

/* ---------------------------------------- */
/* ==            POLICE -accueil              */
/*---------------------------------------- */
/* la note enchantée===========================*/
/* line 48, ../sass/partials/base/_color.scss */
.card__musique > h2 {
  color: black;
}

/*le chic à la française==========================*/
/* Menu titre orange*/
/* line 55, ../sass/partials/base/_color.scss */
.card__title--org > h2 {
  color: #ff884d;
  margin: 0px;
}

/*le délice des papilles=========================*/
/* Menu titre blue*/
/* line 63, ../sass/partials/base/_color.scss */
.card__title--blue > h2 {
  color: #0066ff;
  margin: 0px;
}

/*la palette du goût=============================*/
/* Menu titre vert*/
/* line 70, ../sass/partials/base/_color.scss */
.card__title--green > h2 {
  color: #8cff66;
  margin: 0px;
}

/* ---------------------------------------- */
/* ==     BACKGROUND-COLOR -menu          */
/*---------------------------------------- */
/*2-la note enchantée======================*/
/* carte-page-menu*/
/* line 82, ../sass/partials/base/_color.scss */
.carte-ne {
  width: 700px;
  height: auto;
  margin: 1em;
  padding: 2em;
  background-color: #FCDFD8;
  box-shadow: 5px 5px 1em lightgrey;
  background-color: #FCDFD8;
}

/*logo*/
/* line 92, ../sass/partials/base/_color.scss */
.logo-1, .logo-2 {
  background: linear-gradient(90turn, #F04A5E, #EC1111, #FF4500, #FF6347, #FF7F50, #FF8C00, #FFA500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 3- LE CHIC A LA FRANCAISE==================*/
/* carte-page menu*/
/* line 102, ../sass/partials/base/_color.scss */
.carte-cf {
  width: 700px;
  height: auto;
  margin: 1em;
  padding: 2em;
  background-color: #FCDFD8;
  box-shadow: 5px 5px 1em lightgrey;
  background-color: #FFF5FE;
}

/* titre principal page menu et page accueil*/
/* line 112, ../sass/partials/base/_color.scss */
.bg-title-cf, .card--vlt > h2 {
  background: linear-gradient(#e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* premiere partie du menu marron*/
/* line 121, ../sass/partials/base/_color.scss */
.title-first-cf, .sm-container-mr {
  color: #C77412;
}

/* deuxième partie du menu violet*/
/* line 128, ../sass/partials/base/_color.scss */
.vlt, .plats--vlt, .title-second-cf, .prix-vlt {
  color: #A56799;
}

/* troisième partie bleu*/
/* line 135, ../sass/partials/base/_color.scss */
.sm-container-cf, .title-third-cf {
  color: #6E4CCC;
}

/* 4- LE DELICE DES PAPILLES======================*/
/* carte page-menu*/
/* line 144, ../sass/partials/base/_color.scss */
.carte-dp {
  width: 700px;
  height: auto;
  margin: 1em;
  padding: 2em;
  background-color: #FCDFD8;
  box-shadow: 5px 5px 1em lightgrey;
  background-color: #EDEFEF;
}

/* titre principal de la carte page menu et page accueil*/
/* line 155, ../sass/partials/base/_color.scss */
.bg-title-dp, .card--blue > h2 {
  background: linear-gradient(#0047b3, #005ce6, #0066ff, #4d94ff, #80b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 5- LA PALETTE DU GOUT=========================*/
/* carte page-menu */
/* line 165, ../sass/partials/base/_color.scss */
.carte-pg {
  width: 700px;
  height: auto;
  margin: 1em;
  padding: 2em;
  background-color: #FCDFD8;
  box-shadow: 5px 5px 1em lightgrey;
  background-color: #FDFFFD;
}

/* titre principal*/
/* line 175, ../sass/partials/base/_color.scss */
.bg-title-pg, .card--green > h2 {
  background: linear-gradient(#134d00, #269900, #2db300, #66ff33, #9fff80, #d9ffcc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 1- PAGE ACCUEIL*/
/* 2- LA NOTE ENCHANTEE*/
/* 3- LE CHIC A LA FRANCAISE*/
/* 4- LE DELICE DES PAPILLES*/
/* 5- LA PALETTE DU GOUT*/
/* 1- PAGE ACCUEIL*/
/* carte note enchantée*/
/* line 11, ../sass/partials/base/_police.scss */
.card__musique > h2 {
  font-family: 'Homemade Apple', cursive;
  font-size: 25px;
}

/*carte chic à la française*/
/* line 16, ../sass/partials/base/_police.scss */
.card--vlt > h2 {
  font-family: amita;
  font-size: 25px;
}

/* le délice des papilles*/
/* line 21, ../sass/partials/base/_police.scss */
.card--blue > h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

/* palette du goût*/
/* line 27, ../sass/partials/base/_police.scss */
.card--green > h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

/* -------------*
 PAGE MENU
---------------*/
/* 2- LA NOTE ENCHANTEE======================*/
/* line 38, ../sass/partials/base/_police.scss */
.sm-container, .sm-container-1-ne, .title-first-ne, .title-second-ne, .title-third-ne {
  font-family: "Cedarville Cursive", cursive;
}
/* line 43, ../sass/partials/base/_police.scss */
.sm-container h1, .sm-container-1-ne h1, .title-first-ne h1, .title-second-ne h1, .title-third-ne h1 {
  font-size: 50px;
}
/* line 47, ../sass/partials/base/_police.scss */
.sm-container h2, .sm-container-1-ne h2, .title-first-ne h2, .title-second-ne h2, .title-third-ne h2 {
  font-size: 25px;
  font-weight: bold;
  height: auto;
  padding-left: 10px;
}

/* Premier grand titre*/
/* line 58, ../sass/partials/base/_police.scss */
.bg-titlt-ne > h1 {
  font-family: roboto;
  margin-top: 20px;
}

/*MENU*/
/* line 67, ../sass/partials/base/_police.scss */
.card__title--pk > h2 {
  margin: 0;
  color: black;
  font-family: 'Comic Neue', cursive;
}

/* 3- LE CHIC A LA FRANCAISE=====================*/
/* titre*/
/* gros titre en haut de la carte*/
/* line 80, ../sass/partials/base/_police.scss */
.bg-title-cf {
  font-family: "Amita", cursive;
  padding-top: 30px;
}

/* titre de séparation des menus et corps */
/* line 89, ../sass/partials/base/_police.scss */
.title-first-cf,
.title-second-cf,
.title-third-cf,
.sm-container-mr,
.sm-container-vlt,
.vlt,
.sm-container-cf {
  font-family: "Merriweather", serif;
}

/* taille et dispo police*/
/* line 106, ../sass/partials/base/_police.scss */
.bg-title-cf > h1 {
  font-size: 30px;
  margin-bottom: 50px;
}

/* line 112, ../sass/partials/base/_police.scss */
h2 {
  font-size: 25px;
  font-weight: bold;
  height: auto;
  padding-left: 10px;
}

/* line 120, ../sass/partials/base/_police.scss */
.plats-mr, .prix-mr,
.plats--vlt, .prix-vlt,
.plats-blue {
  font-size: 16px;
  margin-top: 10px;
}

/* 4- LE DELICE DES PAPILLES==========================*/
/* line 136, ../sass/partials/base/_police.scss */
.sm-container, .sm-container-1,
.title-first-dp, .title-second-dp, .title-third-dp {
  font-family: "Cedarville Cursive", cursive;
}

/* line 143, ../sass/partials/base/_police.scss */
.bg-title-dp > h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  padding: 30px;
}

/* 5- LA PALETTE DU GOUT=============================*/
/* line 155, ../sass/partials/base/_police.scss */
.bg-title-pg > h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  padding: 30px;
}

/* line 164, ../sass/partials/base/_police.scss */
.sm-container, .sm-container-1,
.title-first-pg, .title-second-pg, .title-third-pg {
  font-family: "Cedarville Cursive", cursive;
}

/*Sous-titre MENU les  délices des papilles-la palette du goût*/
/* line 175, ../sass/partials/base/_police.scss */
.card__title--blue > h2, .card__title--green > h2 {
  margin: 0;
  font-family: 'Comic Neue', cursive;
}

/* 1- PAGE ACCUEIL*/
/* 2- LA NOTE ENCHANTEE*/
/* 3- LE CHIC A LA FRANCAISE*/
/* 4- LE DELICE DES PAPILLES*/
/* 5- LA PALETTE DU GOUT*/
/* Toutes les pages répondent aux mêmes propriétés*/
/* line 11, ../sass/partials/base/_body.scss */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  padding-bottom: 50px;
}

/* Ce sont les traits de décoration de séparation*/
/* line 18, ../sass/partials/base/_body.scss */
img {
  width: 100%;
  height: auto;
}

/* Ces traits sont les traits de séparation (images)*/
/* line 26, ../sass/partials/base/_body.scss */
.trait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100%;
  height: auto;
}

/* le soulignement des titres de séparation avec :hover*/
/* line 38, ../sass/partials/base/_body.scss */
.underline {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, black, 0%, black, 2%, transparent 2%) no-repeat;
  background-size: 0 100%;
  transition: background-size .3s;
}

/* line 48, ../sass/partials/base/_body.scss */
.underline:hover {
  background-size: 100% 100%;
}

/*le chic à la française-soulignement des titres de séparations*/
/*1e partie*/
/* line 57, ../sass/partials/base/_body.scss */
.underline-mr {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #C77412, 0%, #C77412, 2%, transparent 2%) no-repeat;
  background-size: 0 100%;
  transition: background-size .3s;
}

/* line 67, ../sass/partials/base/_body.scss */
.underline-mr:hover {
  background-size: 100% 100%;
}

/*2e et 3e partie*/
/* line 74, ../sass/partials/base/_body.scss */
.underline-vlt {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  color: #A56799;
  padding-bottom: 5px;
}

/* line 83, ../sass/partials/base/_body.scss */
.underline-vlt::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0.5px;
  line-height: 20px;
  background-color: #A56799;
  transition: width 0.5s ease-in-out;
}

/* line 95, ../sass/partials/base/_body.scss */
.underline-vlt:hover::after {
  width: 100%;
}

/*3e partie*/
/* line 100, ../sass/partials/base/_body.scss */
.underline-blue {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #6E4CCC, 0%, #6E4CCC, 2%, transparent 1%) no-repeat;
  background-size: 0 100%;
  transition: background-size .3s;
}

/* line 109, ../sass/partials/base/_body.scss */
.underline-blue:hover {
  background-size: 100% 100%;
}

/* 1- PAGE ACCUEIL*/
/* 2- LA NOTE ENCHANTEE*/
/* 3- LE CHIC A LA FRANCAISE*/
/* 4- LE DELICE DES PAPILLES*/
/* 5- LA PALETTE DU GOUT*/
/* 1- PAGE ACCUEIL*/
/*MAIN*/
/* line 13, ../sass/partials/layout/_dispo.scss */
.card {
  display: flex;
  justify-content: center;
  width: 400px;
  height: auto;
  margin: 2em;
  padding: 3em;
}

/*Dispo titre dans les 4 cartes*/
/* line 25, ../sass/partials/layout/_dispo.scss */
.card__title--org, .card__title--blue, .card__title--green {
  display: flex;
  justify-content: center;
}

/* Dispositions des mentions legales et contact dans footer*/
/* line 32, ../sass/partials/layout/_dispo.scss */
.légales {
  display: flex;
  justify-content: space-around;
}

/*titre de séparation*/
/* line 40, ../sass/partials/layout/_dispo.scss */
.title {
  font-size: 20px;
  width: 100%;
  height: auto;
  text-align: center;
}

/* Ces sm-containers correspondent à la disposition des plats et des prix*/
/* Elément graphique*/
/* line 48, ../sass/partials/layout/_dispo.scss */
.separation {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 70px;
  margin-bottom: 35px;
  width: 100%;
  height: auto;
}

/* Conteneur des div plats et prix*/
/* line 54, ../sass/partials/layout/_dispo.scss */
.sm-container, .sm-container-1-ne {
  text-align: center;
}

/* line 58, ../sass/partials/layout/_dispo.scss */
.sm-container-1 {
  display: block;
  margin: 30px;
  line-height: 25px;
  padding-bottom: 50px;
}

/* plats et prix*/
/* line 68, ../sass/partials/layout/_dispo.scss */
.plats {
  margin: 10px;
  font-size: 20px;
}

/* line 72, ../sass/partials/layout/_dispo.scss */
.prix {
  margin: 10px;
  font-size: 20px;
  padding-bottom: 20px;
}

/* 3- LE CHIC A LA FRANCAISE==========================*/
/* line 80, ../sass/partials/layout/_dispo.scss */
.carte-cf {
  text-align: center;
}

/* disposition du plats et du prix sur la même ligne*/
/* line 88, ../sass/partials/layout/_dispo.scss */
.sm-container-mr, .sm-container-vlt, .plats-blue {
  text-align: center;
  padding-bottom: 20px;
}

/* Elément de la page d'accueil uniquement*/
/* corps de la page*/
/* line 4, ../sass/partials/page/_accueil.scss */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
}

/*LES 4 CARTES================================*/
/* line 15, ../sass/partials/page/_accueil.scss */
.card {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 500px;
  margin: 1em;
  padding: 3em;
  box-shadow: 5px 5px 1em lightgrey;
}

/* les liens href sur les titres de chaque cartes*/
/* line 30, ../sass/partials/page/_accueil.scss */
a {
  text-decoration: none;
  text-align: center;
}

/* Disposition titres menu apparaissant sur les 4 cartes*/
/* line 39, ../sass/partials/page/_accueil.scss */
.card__title--pk, .card__title--blue, .card__title--green {
  display: flex;
  justify-content: center;
}

/* ZOOM sur les  4 cartes========================== */
/* line 51, ../sass/partials/page/_accueil.scss */
.zoom {
  display: flex;
  align-self: center;
  justify-content: center;
  opacity: 1;
  filter: opacity(50);
  transition: transform 2s;
}

/* line 62, ../sass/partials/page/_accueil.scss */
.zoom:hover {
  transform: scale(1.13);
  opacity: 0.3;
  filter: opacity(100);
  transition-property: opacity;
  transition: all 1s ease-in-out;
}

/* bouton prochainement==================================*/
/* line 75, ../sass/partials/page/_accueil.scss */
.bouton {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  width: 250px;
  height: 25px;
  padding-bottom: 0px;
  margin: 20px;
  color: #FDC846;
  background-color: #579C87;
  cursor: pointer;
  margin: 20px;
}

/* line 97, ../sass/partials/page/_accueil.scss */
.bouton .point {
  animation: animate 1.6s infinite;
}

/* line 101, ../sass/partials/page/_accueil.scss */
.next > p {
  display: flex;
  justify-content: flex-start;
  width: 140px;
}

/* point de suspension-animation*/
/* line 109, ../sass/partials/page/_accueil.scss */
.point {
  position: relative;
  display: flex;
  align-items: center;
  opacity: 0;
}

/* line 116, ../sass/partials/page/_accueil.scss */
.point > li {
  margin: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
}

/* line 122, ../sass/partials/page/_accueil.scss */
li {
  background-color: #FDC846;
  width: 7px;
  height: 7px;
}

/* line 131, ../sass/partials/page/_accueil.scss */
ul {
  display: flex;
  list-style-type: none;
  width: 10px;
  margin-left: 0;
}

/* line 143, ../sass/partials/page/_accueil.scss */
ul li::after {
  content: "";
  list-style-type: none;
  margin: 5px;
  border-radius: 50%;
  animation: animate 1.6s ease-in-out infinite;
}

/* line 152, ../sass/partials/page/_accueil.scss */
ul li {
  list-style: none;
  margin: 10px;
  border-radius: 50%;
  animation: animate 1.6s ease-in-out infinite;
}

@keyframes animate {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 181, ../sass/partials/page/_accueil.scss */
ul li:nth-child(2) {
  animation-delay: 5s;
}

/* line 186, ../sass/partials/page/_accueil.scss */
ul li:nth-child(1) {
  animation-delay: 8s;
}

/* line 191, ../sass/partials/page/_accueil.scss */
ul li:nth-child(3) {
  animation-delay: 10s;
}

/*format desktop*/
@media only screen and (min-width: 1200px) {
  /* Menus*/
  /* line 12, ../sass/partials/vendors/_medias.scss */
  .sm-container, .sm-container-mr, .sm-container-vlt {
    display: flex;
    justify-content: space-between;
  }

  /* line 17, ../sass/partials/vendors/_medias.scss */
  .plats-blue, .sm-container-1-ne {
    text-align: left;
  }

  /* line 22, ../sass/partials/vendors/_medias.scss */
  .plat-2 {
    text-align: left;
  }

  		/*le chic à la française
  	     .separation-1{
  	      	display:flex;
  	      	width: 100%;
  	      	height:auto;
  	      	margin-top: 100px;
  	      }
  
  	    /*image décoration
  	      .trait-1{
  	      	top: -30px;
  	      	width: 100%;
  	      	height:auto;
      	 
  	      }
  
  	      .trait-2{
  	      	bottom: 30px;
      	  	left: -20px;
      	  	width: 100%;
  	      	height:auto;
  	      }
  	     /* page mentions légales*/
  /* line 50, ../sass/partials/vendors/_medias.scss */
  .ml {
    margin: 50px;
  }
}

/*# sourceMappingURL=screen.css.map */
