/* 1- PAGE ACCUEIL*/
/* 2- LA NOTE ENCHANTEE*/
/* 3- LE CHIC A LA FRANCAISE*/
/* 4- LE DELICE DES PAPILLES*/
/* 5- LA PALETTE DU GOUT*/



/* Toutes les pages répondent aux mêmes propriétés*/

body{

	@include body;

}

/* Ce sont les illustrations de séparation*/
img{

	width:100%;
	height:auto;
}

/* Ces traits sont les traits de séparation (images)*/

.trait{

	@include trait;
}






/* le soulignement des titres de séparation avec :hover*/


.underline {
	color:inherit;
	text-decoration:none;
	background: linear-gradient(to top,black,0%, black,2%, transparent 2%) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;

}


.underline:hover{
	background-size: 100% 100%;
}



/*le chic à la française-soulignement des titres de séparations*/

/*1e partie*/
.underline-mr {
	color:inherit;
	text-decoration:none;
	background: linear-gradient(to top,#C77412,0%, #C77412,2%, transparent 2%) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;


}



.underline-mr:hover{
	background-size: 100% 100%;

}
.underline-vlt{
	position:relative;
	display:inline-block;
	width: 100%;
	height:auto;
	color:#A56799;
	padding-bottom: 5px;
}

.underline-vlt::after{
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	width:0;
	height:2px;
	line-height: 20px;
	background-color:#A56799;
	transition: width 0.5s ease-in-out;
}

.underline-vlt:hover::after{
	width:100%;
}

/*3e partie*/
.underline-blue {
	color:inherit;
	text-decoration:none;
	background: linear-gradient(to top,#6E4CCC,0%, #6E4CCC,2%, transparent 1%) no-repeat;
	background-size: 0 100%;
	transition:background-size .3s;


}


.underline-blue:hover{
	background-size: 100% 100%;

}











