
/* 1- PAGE ACCUEIL*/
/* 2- LA NOTE ENCHANTEE*/
/* 3- LE CHIC A LA FRANCAISE*/
/* 4- LE DELICE DES PAPILLES*/
/* 5- LA PALETTE DU GOUT*/


/* 1- PAGE ACCUEIL*/
/* carte note enchantée*/
.card__musique>h2{
	font-family: 'Homemade Apple', cursive;
	font-size: 25px;
}
/*carte chic à la française*/
.card--vlt>h2{
	font-family: amita;
	font-size: 25px;
}
/* le délice des papilles*/
.card--blue>h2{
	font-family: 'Dancing Script', cursive;
	font-size:30px;
}

/* palette du goût*/
.card--green>h2{

	font-family: 'Kaushan Script', cursive;
	font-size:30px;
}

/* -------------*
 PAGE MENU
---------------*/

/* 2- LA NOTE ENCHANTEE======================*/
.sm-container, .sm-container-1-ne, .title-first-ne,.title-second-ne,.title-third-ne{
	
	font-family: $police-cedarville;


	h1{
		font-size: 50px;
	}

	h2{
	font-size: 25px;
	font-weight: bold;
	height:auto;
	padding-left: 10px;

	}
}

/* Premier grand titre*/

.bg-titlt-ne>h1{
	font-family: roboto;
	margin-top: 20px;

}


/*MENU*/

.card__title--pk>h2{

	margin:0;
	color:black;
	font-family:'Comic Neue', cursive;
}

/* 3- LE CHIC A LA FRANCAISE=====================*/

/* titre*/

/* gros titre en haut de la carte*/

.bg-title-cf{

	font-family: $police-amita;
	padding-top: 30px;

}

/* titre de séparation des menus et corps */

.title-first-cf,
.title-second-cf,
.title-third-cf,
.sm-container-mr,
.sm-container-vlt, 
.vlt, 
.sm-container-cf

{


    font-family: $police-Merriweather;


}

/* taille et dispo police*/
.bg-title-cf>h1{

	font-size:30px;
	margin-bottom: 50px;
}

h2{
	font-size: 25px;
	font-weight: bold;
	height:auto;
	padding-left: 10px;

}

.plats-mr, .prix-mr,
.plats--vlt,.prix-vlt,
.plats-blue

 {
	font-size: 16px;
	margin-top: 10px;
}





/* 4- LE DELICE DES PAPILLES==========================*/


.sm-container,.sm-container-1, 
.title-first-dp, .title-second-dp, .title-third-dp{
	
	font-family: $police-cedarville;

}

.bg-title-dp>h2{

	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	padding:30px;
}




/* 5- LA PALETTE DU GOUT=============================*/

.bg-title-pg>h2{

	font-family: 'Kaushan Script', cursive;
	font-size: 50px;
	padding:30px;


}

.sm-container,.sm-container-1, 
.title-first-pg, .title-second-pg, .title-third-pg
	
{

		font-family: $police-cedarville;

}

/*Sous-titre MENU les  délices des papilles-la palette du goût*/ 

.card__title--blue>h2, .card__title--green>h2{
	margin:0;
	font-family:'Comic Neue', cursive;

}
