/* LA NOTE ENCHANTEE UNIQUEMENT*/

/* GROS titre situé juste après le header dans le body mais hors carte*/

.titre{
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top:60px;
	width: 50%;
	height:auto;
	font-size: 30px;
	font-weight: bold;
	font-family: roboto;
	

}

/*Logo=============================================*/

/*Logo du haut de la carte*/
.logo-1{
	text-align: center;
	@include degrade-orange;
}

/*Logo du bas de la carte*/
.logo-2{
	
	@include degrade-orange;
}



