footer{

	@include header;
	@include footer;
	font-family: $police-roboto;

}

.legales
{
	@include footer;
	@include legales;
	

}


/*Page Mentions légales*/ 

.ml{

    @include carte;
    background-color: #BDBDBD;
    color:white;
    font-weight: bold;
    justify-content: center;
    font-family: arial;

}

