header{

	@include header;
	font-size: 50px;
    font-family: 'Archivo Black', sans-serif;

	h1{
		display:flex;
		justify-content:center; 
		align-self: center;
		text-decoration: none;
		color:$couleur-jaune;
 		font-family: 'Archivo Black', sans-serif;

	}


h2{
	justify-content: center;
}
   
	
}

/* LES DELICES ce nest pas dans le HEADER*/

h2{
	margin:30px;
	font-weight: bold;

}


