/* COULEURS DE POLICE HEADER ET FOOTER*/
/* couleurs de fond*/

$vert:#579C87;

/*couleur de police*/

$couleur-jaune:#FDC846;

/*Police de caractère- footer et bouton-page accueil*/

$police-roboto:'Roboto', sans-serif;

/* la chic à la française*/

/* police titre*/

$police-amita:'Amita', cursive;

/* police corps du site*/

$police-Merriweather:'Merriweather', serif;

/*délice des papilles et la note enchanté*/

$police-cedarville: 'Cedarville Cursive', cursive;




